POSTGRES_DB=weatherseeker
POSTGRES_USER=weatherseeker
POSTGRES_PASSWORD=change-this-password
ASPNETCORE_ENVIRONMENT=Production
CONNECTIONSTRINGS__DEFAULTCONNECTION=Host=postgres;Port=5432;Database=WeatherSeekerDB;Username=weatherseeker;Password=change-this-password;SSL Mode=Disable
CF_TUNNEL_TOKEN=
