POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=weatherseeker
POSTGRES_USER=weatherseeker
POSTGRES_PASSWORD=change-this-password
POSTGRES_SSL_MODE=Disable
ASPNETCORE_ENVIRONMENT=Production
# OpenWeatherMap API key from https://openweathermap.org/api
OPENWEATHERMAP__APIKEY=
CF_TUNNEL_TOKEN=
