@{
    ViewData["Title"] = "About";
}
<body>
    <header><h1>@ViewData["Title"]</h1></header>
    <style>
        .About {
            text-align: center;
            margin: auto;
            width: 80%;
            border: 3px solid #5372F0;
            background-color: black;
            opacity: 0.6;
            padding: 10px;
        }
    </style>
    <h2>
        <p>
            <div class="About">
                Weather Seeker is a web application designed to display the weather forecast after successful Login<br /><br />
                The application utilizes the OpenWeatherMap API to retrieve weather data<br /><br />
                The Dashboard is designed to give you information quickly and efficiently<br /><br />
            </div>
        </p>
    </h2>
    <p></p>
</body>