@{
    ViewData["Title"] = "Privacy";
}
<body>
    <header><h1>@ViewData["Title"]</h1></header>
    <style>
        .Privacy
        {
            margin: auto;
            text-align:center;
            width: 80%;
            border: 3px solid #5372F0;
            background-color: black;
            opacity: 0.6;
            padding: 10px;
        }
    </style>
    <h2>
        <p>
            <div class="Privacy">
                Welcome to Weather Seeker <br/><br />
                This Privacy Policy outlines how your information is collected and used when operating this Application<br /><br />
                When you register as a user/client/admin we collect your name, username, and password to facilitate your login process<br /><br />
                Your name, username, and password is used to authenticate your identity as a user and provide you access to services<br /><br />
                Only use information that is disposable and won't pose security risks <br /><br />
                By using our App, you consent to the collection and use of your information as outlined in this Privacy Policy<br /><br />
                Please read this Privacy Policy carefully to understand our practices regarding your information
            </div>
        </p>
    </h2>
<p></p>
</body>