<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Retry failed HTTP requests up to 5 times before failing -->
    <add key="maxHttpRequestsPerSource" value="16" />
    <add key="requestTimeout" value="120" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
